body {
  background: rgb(245, 240, 175);
  background: rgb(135, 196, 252);
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.outer-container {
  max-width: fit-content;
  margin-top: 50px;
  align-items: center;
  height: 75vh;
  width: 70vh;

  border-radius: 5px;
  overflow-y: scroll;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.input-box {
  padding: 40px;
  margin: 20px 10px;
  outline: none;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: large;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  border-color: rgb(23, 14, 2);
}

.inner-container {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-content: center;
  margin: 20px;
  background-color: rgba(226, 232, 252, 0.94);
  border-radius: 13px;
  padding: 10px;
}

.cells {
  padding: 14px;
  font-size: large;
  font-weight: bold;
  margin: 5px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: rgb(241, 185, 252);

  box-shadow: rgb(252, 95, 244);
  background: linear-gradient(145deg, #b0c9f3, #68aded);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.9s ease;
}
